a:link {
    color:white;
text-decoration:none;
}
a:visited {
    color: white;
}
a:hover {
    color: red;
}
a:active {
    color: yellow;
}
.menu
{
list-style-type:none;
float:left;

}
.menu li
{ 
float:left;
list-style-type:none;
font-weight:bold;
}
.a
{
background-color:black;
}
.div1
{
width:100%;

}